body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: azure;
}


tr td {
    height: 6px;
    width: 6px;
    border-radius: 2px;
    border: 1px solid aquamarine;
}

.active {
    background-color: #000000;
}

.inActive {
    background-color: #ffffff;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start {
    padding: 8px;
    margin-bottom: 10px;
    font-size: xx-large;
    background-color: aquamarine;
    border-radius: 10px;
}